<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Raleway.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>FREE APP-STORE</title>
</head>
<body>
<nav>
    <div class="upper-nav">
    <div class="object">Home</div>
    <div class="object">Wow</div>
    <div class="object">Apps and Store</div>
    </div>
    <div class="lower-nav">
        <div class="object">wow</div>
    </div>
</nav>
<img src="/static/images/temp.jpg" style="width: 100%;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="main-content">

</div>
</body>
<script src="/static/js/program.js"></script>
<script src="/static/js/index.js"></script>
</html>