<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Raleway.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>FREE APP-STORE</title>
</head>
<body>
<nav>
    <div class="upper-nav">
    <div class="object">Home</div>
    <div class="object">Apps</div>
    <div class="object">Games</div>
    </div>
    <div class="lower-nav">
        <div class="object">wow</div>
        <div class="object">wow</div>
    </div>
</nav>
<img src="https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684?k=20&m=1248542684&s=612x612&w=0&h=1yKiRrtPhiqUJXS_yJDwMGVHVkYRk2pJX4PG3TT4ZYM=" style="width: 50%;">
I am the best.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="main-content">

</div>
</body>
<script src="/static/js/program.js"></script>
<script src="/static/js/index.js"></script>
</html>